interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/find/find?category=cubes&language=en&pagelength=1&term=waste
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"find\",\"Method\":\"find\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"term\":\"waste\",\"category\":\"cubes\",\"pagelength\":\"1\",\"language\":\"en\"},\"Cubes\":[{\"Code\":\"12211BJ116\",\"Content\":\"Microcensus,
        Persons in employment, Germany, WZ2008 (Sections), Year\",\"State\":\"complete
        with values\",\"Time\":\"2009 to 2019\",\"LatestUpdate\":\"2021-06-17 16:38:07h\",\"Information\":\"false\"}],\"Statistics\":null,\"Tables\":null,\"Timeseries\":null,\"Variables\":null,\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/find/find?language=en&term=waste
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"find\",\"Method\":\"find\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"term\":\"waste\",\"category\":\"all\",\"pagelength\":\"100\",\"language\":\"en\"},\"Cubes\[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/find/find?category=cubes&language=en&pagelength=1&term=waste
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"find\",\"Method\":\"find\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"term\":\"waste\",\"category\":\"cubes\",\"pagelength\":\"1\",\"language\":\"en\"},\"Cubes\":[{\"Code\":\"12211BJ116\",\"Content\":\"Microcensus,
        Persons in employment, Germany, WZ2008 (Sections), Year\",\"State\":\"complete
        with values\",\"Time\":\"2009 to 2019\",\"LatestUpdate\":\"2021-06-17 16:38:07h\",\"Information\":\"false\"}],\"Statistics\":null,\"Tables\":null,\"Timeseries\":null,\"Variables\":null,\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
