interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/table?job=true&language=en&name=51000-ABCD
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"data\",\"Method\":\"table\"},\"Status\":{\"Code\":104,\"Content\":\"There
        are no objects matching your selection.\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"51000-ABCD\",\"area\":\"free\",\"compress\":\"false\",\"transpose\":\"false\",\"startyear\":\"\",\"endyear\":\"\",\"timeslices\":\"\",\"regionalvariable\":\"\",\"regionalkey\":\"\",\"classifyingvariable1\":\"\",\"classifyingkey1\":\"\",\"classifyingvariable2\":\"\",\"classifyingkey2\":\"\",\"classifyingvariable3\":\"\",\"classifyingkey3\":\"\",\"format\":\"datencsv\",\"job\":\"true\",\"stand\":\"01.01.1970
        01:00\",\"language\":\"en\"},\"Object\":null,\"Copyright\":\"\xA9 Federal
        Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
