interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/result?language=en&name=KREISE
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"data\",\"Method\":\"result\"},\"Status\":{\"Code\":104,\"Content\":\"There
        are no objects matching your selection.\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"KREISE\",\"area\":\"free\",\"compress\":\"false\",\"language\":\"en\"},\"Object\":null,\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
