interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/table?job=true&language=en&name=51000-0013
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"data\",\"Method\":\"table\"},\"Status\":{\"Code\":99,\"Content\":\"The
        table will be generated through batch processing. The table can be viewed
        as result with the following name soon: 51000-0013_620659980\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"51000-0013\",\"area\":\"free\",\"compress\":\"false\",\"transpose\":\"false\",\"contents\":\"\",\"startyear\":\"\",\"endyear\":\"\",\"timeslices\":\"\",\"regionalvariable\":\"\",\"regionalkey\":\"\",\"classifyingvariable1\":\"\",\"classifyingkey1\":\"\",\"classifyingvariable2\":\"\",\"classifyingkey2\":\"\",\"classifyingvariable3\":\"\",\"classifyingkey3\":\"\",\"classifyingvariable4\":\"\",\"classifyingkey4\":\"\",\"classifyingvariable5\":\"\",\"classifyingkey5\":\"\",\"format\":\"datencsv\",\"job\":\"true\",\"stand\":\"01.01.1970
        01:00\",\"language\":\"en\"},\"Object\":null,\"Copyright\":\"\xA9 Federal
        Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/result?language=en&name=51000-0013_620659980
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"data\",\"Method\":\"result\"},\"Status\":{\"Code\":104,\"Content\":\"There
        are no objects matching your selection.\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"51000-0013_620659980\",\"area\":\"free\",\"compress\":\"false\",\"language\":\"en\"},\"Object\":null,\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
[...]
