interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/map2result?language=en
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"data\",\"Method\":\"map2result\"},\"Status\":{\"Code\":104,\"Content\":\"There
        are no objects matching your selection.\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"\",\"area\":\"free\",\"maptype\":\"0\",\"classes\":\"5\",\"classification\":\"0\",\"zoom\":\"2\",\"format\":\"png\",\"language\":\"en\"},\"Object\":null,\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: '200'
version: 1
