interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/chart2result?area=all&chartType=0&drawPoints=false&focus=false&format=png&language=en&name=12411-0001&tops=false&zoom=2
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"data\",\"Method\":\"chart2result\"},\"Status\":{\"Code\":104,\"Content\":\"There
        are no objects matching your selection.\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"12411-0001\",\"area\":\"all\",\"charttype\":\"0\",\"drawpoints\":\"false\",\"zoom\":\"2\",\"focus\":\"false\",\"tops\":\"false\",\"language\":\"en\",\"format\":\"png\"},\"Object\":null,\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: '200'
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/chart2result?language=en&name=12411-0001
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"data\",\"Method\":\"chart2result\"},\"Status\":{\"Code\":104,\"Content\":\"There
        are no objects matching your selection.\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"12411-0001\",\"area\":\"free\",\"charttype\":\"0\",\"drawpoints\":\"false\",\"zoom\":\"2\",\"focus\":\"false\",\"tops\":\"false\",\"language\":\"en\",\"format\":\"png\"},\"Object\":null,\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: '200'
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/chart2result?language=en&name=12411-0001
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"data\",\"Method\":\"chart2result\"},\"Status\":{\"Code\":104,\"Content\":\"There
        are no objects matching your selection.\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"12411-0001\",\"area\":\"free\",\"charttype\":\"0\",\"drawpoints\":\"false\",\"zoom\":\"2\",\"focus\":\"false\",\"tops\":\"false\",\"language\":\"en\",\"format\":\"png\"},\"Object\":null,\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: '200'
version: 1
