interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/table?job=true&language=en&name=12411-0001&selectionXYZ=all
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"data\",\"Method\":\"table\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"12411-0001\",\"area\":\"free\",\"compress\":\"false\",\"transpose\":\"false\",\"startyear\":\"\",\"endyear\":\"\",\"timeslices\":\"\",\"regionalvariable\":\"\",\"regionalkey\":\"\",\"classifyingvariable1\":\"\",\"classifyingkey1\":\"\",\"classifyingvariable2\":\"\",\"classifyingkey2\":\"\",\"classifyingvariable3\":\"\",\"classifyingkey3\":\"\",\"format\":\"datencsv\",\"job\":\"true\",\"stand\":\"01.01.1970
        01:00\",\"language\":\"en\"},\"Object\":{\"Content\":\"GENESIS-Tabelle: 12411-0001\\nPopulation:
        Germany, reference date;\\nCurrent updating of population figures;\\nGermany;\\n;Population\\n;number\\n1950-12-31;50958125\\n1951-12-31;51434777\\n1952-12-31;51863761\\n1953-12-31;52453806\\n1954-12-31;52943295\\n1955-12-31;53517683\\n1956-12-31;53339626\\n1957-12-31;54064365\\n1958-12-31;54719159\\n1959-12-31;55257088\\n1960-12-31;55958321\\n1961-12-31;56589148\\n1962-12-31;57247246\\n1963-12-31;57864509\\n1964-12-31;58587451\\n1[...]
