interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/table?area=all&job=true&language=en&name=51000-0012
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"data\",\"Method\":\"table\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"51000-0012\",\"area\":\"all\",\"compress\":\"false\",\"transpose\":\"false\",\"startyear\":\"\",\"endyear\":\"\",\"timeslices\":\"\",\"regionalvariable\":\"\",\"regionalkey\":\"\",\"classifyingvariable1\":\"\",\"classifyingkey1\":\"\",\"classifyingvariable2\":\"\",\"classifyingkey2\":\"\",\"classifyingvariable3\":\"\",\"classifyingkey3\":\"\",\"format\":\"datencsv\",\"job\":\"true\",\"stand\":\"01.01.1970
        01:00\",\"language\":\"en\"},\"Object\":{\"Content\":\"GENESIS-Tabelle: 51000-0012\\nExports
        and imports (foreign trade): Germany, months,;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;\\ncommodity
        (4-/6-digit codes), countries;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;\\nForeign
        trade;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;\\nGermany;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;\\nWA0101
        [...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/data/table?job=true&language=en&name=51000-0012
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"data\",\"Method\":\"table\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"51000-0012\",\"area\":\"free\",\"compress\":\"false\",\"transpose[...]
[...]
