interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/tables?language=en
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"tables\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"\",\"area\":\"free\",\"searchcriterion\":\"code\",\"sortcriterion\":\"code\",\"pagelength\":\"100\",\"language\":\"en\"},\"List\":[{\"Code\":\"11111-0001\",\"Content\":\"Size
        of territory: L\xE4nder, reference date\",\"Time\":\"1995-12-31 to 2021-12-31\"},{\"Code\":\"11111-0002\",\"Content\":\"Size
        of territory: Administrative districts, reference date\",\"Time\":\"1995-12-31
        to 2021-12-31\"},{\"Code\":\"12111-0001\",\"Content\":\"Population (Census):
        Germany, reference date, nationality,\\nsex\",\"Time\":\"\"},{\"Code\":\"12111-0002\",\"Content\":\"Population
        (Census): Germany, reference date, nationality,\\nage groups\",\"Time\":\"\"},{\"Code\":\"12111-0003\",\"Content\":\"Population[...]
