interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/metadata/variable?area=all&language=en&name=FAMSTD
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"variable\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"FAMSTD\",\"area\":\"all\",\"language\":\"en\"},\"Object\":{\"Code\":\"FAMSTD\",\"Content\":\"Marital
        status\",\"Type\":\"Subject\",\"Values\":\"4\",\"Validity\":{\"From\":\"1950-01-01\",\"To\":null},\"Stock\":null,\"Summable\":null,\"SortOrder\":\"position
        number\",\"BreakDownType\":\"of which\",\"Information\":\"Marital status\\n\\nExplanatory
        notes for the following statistics:\\n12211 Microcensus\\n\\nDefinition:\\nThe
        marital status specifies to which of the following four\\ngroups a person
        belongs: single, married, widowed, or\\ndivorced.\\n\\nMarried people are
        all persons in a marriage or registered\\nlife partnership. People whose partner
        is missing but has\\nnot been declared dead yet are regarded as married, and\\npersons
        whose partner has been declared dead as widowed. If\\nthe partners are separated
        but no decree of divorce has been\\npronounced, they are considered as married.
        The same applies\\nto people who are in the process of getting divorced as
        long\\nas the decree of divorce has not been issued.\\nPeople whose marriage
        or registered life partnership has\\nbeen annulled/dissolved by judicial decision
        are considered\\nas divorced. People whose marriage or registered life\\npartnership
        has been declared void are recorded as having\\nthe marital status they had
        beforehand.\\nSingle people include all persons who are not married,\\nwidowed
        or divorced.\\n\\n\\n\xA9 Statistisches Bundesamt, Wiesbaden 2017\",\"Updated\":\"2019-04-12
        16:44:30h\"},\"Copyright\":\"\xA9 Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
[...]
