interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/metadata/statistic?area=cubes&language=en&name=12411
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"statistic\"},\"Status\":{\"Code\":22,\"Content\":\"successfull
        (At least one parameter contains invalid values. It was changed to perform
        the service.: bereich)\",\"Type\":\"Warnung\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"12411\",\"area\":\"all\",\"language\":\"en\"},\"Object\":{\"Code\":\"12411\",\"Content\":\"Current
        updating of population figures\",\"Cubes\":\"28\",\"Variables\":\"17\",\"Frequency\":[{\"From\":\"1950-01-01\",\"To\":null,\"Type\":\"monthly\"}],\"Information\":null,\"Updated\":\"2023-06-19
        10:49:02h\"},\"Copyright\":\"\xA9 Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/metadata/statistic?area=all&language=en&name=12411
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"statistic\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"12411\",\"area\":\"all\",\"language\":\"en\"},\"Object\":{\"Code\":\"12411\",\"Content\":\"Current
        updating of population figures\",\"Cubes\":\"28\",\"Variables\":\"17\",\"Frequency\":[{\"From\":\"1950-01-01\",\"To\":null,\"Type\":\"monthly\"}],\"Information\":null,\"Updated\":\"2023-06-19
        10:49:02h\"},\"Copyright\":\"\xA9 Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/metadata/statistic?area=all&language=en&name=12411
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"statistic\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"12411\",\"area\":\"all\",\"language\":\"en\"},\"Object\":{\"Code\":\"12411\",\"Content\":\"Current
        updating of population figures\",\"Cubes\":\"28\",\"Variables\":\"17\",\"Frequency\":[{\"From\":\"1950-01-01\",\"To\":null,\"Type\":\"monthly\"}],\"Information\":null,\"Updated\":\"2023-06-19
        10:49:02h\"},\"Copyright\":\"\xA9 Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
