interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/metadata/value?area=all&language=en&name=LEDIG
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"value\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"LEDIG\",\"area\":\"all\",\"pagelength\":null,\"language\":\"en\"},\"Object\":{\"Code\":\"LEDIG\",\"Content\":\"Single\",\"Variables\":\"7\",\"Information\":\"Single\\n\\nExplanatory
        notes for the following statistics:\\n12411 Current updating of population
        figures\\n\\nDefinition:\\nSingle people include all persons who are not married,\\nwidowed
        or divorced.\\n\\nUntil 2010, the 'single' category also included 'registered\\nlife
        partnership', 'registered life partnership dissolved'\\nand 'same-sex partner
        deceased'.\\n\\n\\n\xA9 Statistisches Bundesamt, Wiesbaden 2020\",\"Updated\":\"2020-06-18
        17:37:27h\"},\"Copyright\":\"\xA9 Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
