interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/metadata/table?area=all&language=en&name=12411-0001
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"table\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"12411-0001\",\"area\":\"all\",\"language\":\"en\"},\"Object\":{\"Code\":\"12411-0001\",\"Content\":\"Population:
        Germany, reference date\",\"Time\":{\"From\":\"1950-12-31\",\"To\":\"2022-12-31\"},\"Valid\":\"false\",\"Structure\":{\"Head\":{\"Code\":\"12411\",\"Content\":\"Current
        updating of population figures\",\"Type\":\"statistic\",\"Values\":null,\"Selected\":null,\"Structure\":[{\"Code\":\"DINSG\",\"Content\":\"Germany\",\"Type\":\"variable\",\"Values\":\"1\",\"Selected\":\"1\",\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Updated\":\"see parent\"},\"Columns\":[{\"Code\":\"BEVSTD\",\"Content\":\"Population\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Rows\":[{\"Code\":\"STAG\",\"Content\":\"Reference date\",\"Type\":\"variable\",\"Values\":null,\"Selected\":null,\"Structure\":null,\"Updated\":\"see
        parent\"}],\"Subtitel\":null,\"Subheading\":null},\"Updated\":\"2022-12-28
        17:00:40h\"},\"Copyright\":\"\xA9 Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/metadata/table?arexa=all&language=en&name=12411-0001
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"table\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"12411-0001\",\"area\":\"free\",\"language\":\"en\"},\"Ob[...]
[...]
