interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/metadata/cube?area=all&language=en&name=12411BJ001
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"metadata\",\"Method\":\"cube\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"12411BJ001\",\"area\":\"all\",\"language\":\"en\"},\"Object\":{\"Code\":\"12411BJ001\",\"Content\":\"Current
        updating of population figures, Population, Germany, Nationality, Sex, Marital
        status, Age years (under 1 - 85 and over), Reference date\",\"State\":\"undefined!\",\"Timeslices\":[\"1991-12-31\",\"1992-12-31\",\"1993-12-31\",\"1994-12-31\",\"1995-12-31\",\"1996-12-31\",\"1997-12-31\",\"1998-12-31\",\"1999-12-31\",\"2000-12-31\",\"2001-12-31\",\"2002-12-31\",\"2003-12-31\",\"2004-12-31\",\"2005-12-31\",\"2006-12-31\",\"2007-12-31\",\"2008-12-31\",\"2009-12-31\",\"2010-12-31\",\"2011-12-31\",\"2012-12-31\",\"2013-12-31\",\"2014-12-31\",\"2015-12-31\",\"2016-12-31\",\"2017-12-31\",\"2018-12-31\",\"2019-12-31\",\"2020-12-31\",\"2021-12-31\",\"2022-12-31\"],\"Values\":\"0\",\"Statistic\":{\"Code\":\"12411\",\"Content\":\"Current
        updating of population figures\",\"Updated\":\"2023-06-19 10:49:02h\"},\"Structure\":{\"Axis\":[{\"Code\":\"DINSG\",\"Content\":\"Germany\",\"Type\":\"Classifying\",\"Updated\":\"2016-01-25
        13:54:17h\"},{\"Code\":\"NAT\",\"Content\":\"Nationality\",\"Type\":\"Classifying\",\"Updated\":\"2017-06-21
        17:17:59h\"},{\"Code\":\"GES\",\"Content\":\"Sex\",\"Type\":\"Classifying\",\"Updated\":\"2016-01-25
        13:54:45h\"},{\"Code\":\"FAMST8\",\"Content\":\"Marital status\",\"Type\":\"Classifying\",\"Updated\":\"2020-06-18
        17:47:34h\"},{\"Code\":\"ALT013\",\"Content\":\"Age years (under 1 - 85 and
        over)\",\"Type\":\"Classifying\",\"Updated\":\"2016-01-25 13:54:39h\"},{\"Code\":\"STAG\",\"Content\":\"Reference
        date\",\"Type\":\"Time-identifying\",\"Updated\":\"2022-12-28 09:31:04h\"}],\"Contents\":[{\"Code\":\"BEVSTD\",\"Content\":\"Population\",\"Type\":\"integer\",\"Unit\":\"Anzahl\",\"Values\":\"\",\"Timeslices\":null,\"Updated\":\"2016-05-13
        16:25:00h\"}]},\"Updated\":\"2023-06-20 08:00:30h\"},\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
