interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/cubes?areaXYZ=all&language=en&pagelengthXYZ=20&selectionXYZ=124%2A
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"cubes\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"\",\"area\":\"free\",\"pagelength\":\"100\",\"language\":\"en\"},\"List\":[{\"Code\":\"11111BJ001\",\"Content\":\"Recording
        of territorial status, Size of territory, Germany, Reference date\",\"State\":\"complete
        with values\",\"Time\":\"1995-12-31 to 2021-12-31\",\"LatestUpdate\":\"2023-07-05
        15:02:25h\",\"Information\":\"false\"},{\"Code\":\"11111KJ001\",\"Content\":\"Recording
        of territorial status, Size of territory, Administrative districts, Reference
        date\",\"State\":\"complete with values\",\"Time\":\"1995-12-31 to 2021-12-31\",\"LatestUpdate\":\"2023-07-05
        15:02:19h\",\"Information\":\"false\"},{\"Code\":\"11111LJ001\",\"Content\":\"Recording
        of territorial status, Size of territory, L\xE4nder, Reference date\",\"State\":\"complete
        with values\",\"Time\":\"1995-12-[...]
