interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/terms?language=en&pagelength=20&selection=Schu%2A
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"terms\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"Schu*\",\"pagelength\":\"20\",\"language\":\"en\",\"area\":\"all\"},\"List\":[{\"Content\":\"schu.m.obert.a.spinnst.m.laufs.a.holz\"},{\"Content\":\"schu.m.obert.a.spinnst.m.laufs.a.holz,kork
        (paar)\"},{\"Content\":\"schu.m.obert.a.spinnst.m.laufso.a.and.sto\"},{\"Content\":\"schu.m.obert.a.spinnst.m.laufso.a.and.sto.
        (paar)\"},{\"Content\":\"schubkarren\"},{\"Content\":\"schubkraft\"},{\"Content\":\"schubschiffe\"},{\"Content\":\"schubschiffe
        (ausgenommen f\xFCr die seeschifffahrt)\"},{\"Content\":\"schubschiffe f\xFCr
        die seeschifffahrt\"},{\"Content\":\"schuh\"},{\"Content\":\"schuhabs\xE4tze\"},{\"Content\":\"schuhanzieher\"},{\"Content\":\"schuhcreme\"},{\"Content\":\"schuhcreme
        und \xE4hnliche schuh-/lederpflegemittel\"},{\"Content\":\"schuhcreme und
        \xE4hnliche schuhmittel\"},{\"Content\":\"schuhcreme und \xE4hnliche schuhpflegemittel\"},{\"Content\":\"schuhe\"},{\"Content\":\"schuhe
        (ohne sport- und sicherheitsschuhe)\"},{\"Content\":\"schuhe a. leder,laufsohle
        kautschuk,kunstst.,leder\"},{\"Content\":\"schuhe m. hauptsohle a. holz,wed
        m. innens. (paar)\"}],\"Copyright\":\"\xA9 Federal Statistical Office, Wiesbaden
        2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/terms?language=en&pagelength=1&selection=Schu%2A
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"terms\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"Schu*\",\"pagelength\":\"1\",\"language\":\"en\",\"area\":\"all\"},\"List\":[{\"Content\":\"schu.m.obert.a.spinnst.m.laufs.a.holz\"}],\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
