interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/statistics2variable?area=all&language=en&name=KREISE&pagelength=20&searchcriterion=code&selection=12%2A&sortcriterion=code
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"statistics2variable\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"KREISE\",\"selection\":\"12*\",\"area\":\"all\",\"searchcriterion\":\"code\",\"sortcriterion\":\"code\",\"pagelength\":\"20\",\"language\":\"en\"},\"List\":[{\"Code\":\"12411\",\"Content\":\"Current
        updating of population figures\",\"Cubes\":\"28\",\"Information\":\"false\"},{\"Code\":\"12521\",\"Content\":\"Statistics
        of foreigners\",\"Cubes\":\"98\",\"Information\":\"false\"},{\"Code\":\"12531\",\"Content\":\"Statistics
        of persons seeking protection\",\"Cubes\":\"78\",\"Information\":\"false\"}],\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/statistics2variable?language=en&name=KREISE&pagelength=1&selection=12%2A
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"statistics2variable\"},\"Status\":{\"Code\":22,\"Content\":\"successfull
        (At least one parameter contains invalid values. It was changed to perform
        the service.: sortcriterion)\",\"Type\":\"Warnung\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"KREISE\",\"selection\":\"12*\",\"area\":\"free\",\"searchcriterion\":\"code\",\"sortcriterion\":\"code\",\"pagelength\":\"1\",\"language\":\"en\"},\"List\":[{\"Code\":\"12411\",\"Content\":\"Current
        updating of population figures\",\"Cubes\":\"28\",\"Information\":\"false\"}],\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/statistics2variable?language=en&name=KREISE&pagelength=1&selection=12%2A
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"statistics2variable\"},\"Status\":{\"Code\":22,\"Content\":\"successfull
        (At least one parameter contains invalid values. It was changed to perform
        the service.: sortcriterion)\",\"Type\":\"Warnung\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"KREISE\",\"selection\":\"12*\",\"area\":\"free\",\"searchcriterion\":\"code\",\"sortcriterion\":\"code\",\"pagelength\":\"1\",\"language\":\"en\"},\"List\":[{\"Code\":\"12411\",\"Content\":\"Current
        updating of population figures\",\"Cubes\":\"28\",\"Information\":\"false\"}],\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
