interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/values?area=all&language=en&pagelength=20&searchcriterion=code&selection=0124%2A&sortcriterion=code
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"values\"},\"Status\":{\"Code\":104,\"Content\":\"There
        are no objects matching your selection.\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"0124*\",\"searchcriterion\":\"code\",\"sortcriterion\":\"code\",\"pagelength\":\"20\",\"language\":\"en\",\"area\":\"all\"},\"List\":null,\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/values?area=all&language=en&pagelength=20&searchcriterion=code&selection=12%2A&sortcriterion=code
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"values\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"12*\",\"searchcriterion\":\"code\",\"sortcriterion\":\"code\",\"pagelength\":\"20\",\"language\":\"en\",\"area\":\"all\"},\"List\":[{\"Code\":\"12\",\"Content\":\"Brandenburg\",\"Variables\":\"9\",\"Information\":\"false\"},{\"Code\":\"120\",\"Content\":\"Brandenburg\",\"Variables\":\"1\",\"Information\":\"false\"},{\"Code\":\"12051\",\"Content\":\"Brandenburg
        an der Havel, kreisfreie Stadt\",\"Variables\":\"1\",\"Information\":\"false\"},{\"Code\":\"12052\",\"Content\":\"Cottbus,
        kreisfreie Stadt\",\"Variables\":\"1\",\"Information\":\"false\"},{\"Code\":\"12053\",\"Content\":\"Frankfurt
        (Oder), kreisfreie Stadt\",\"Variables\":\"1\",\"Information\":\"false\"},{\"Code\":\"12054\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/values?language=en&pagelength=1&selection=12%2A
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"values\"},\"Status\":{\"Code\":22,\"Content\":\"successfull
        (At least one parameter contains invalid values. It was changed to perform
        the service.: sortcriterion)\",\"Type\":\"Warnung\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"12*\",\"searchcriterion\":\"code\",\"sortcriterion\":\"code\",\"pagelength\":\"1\",\"language\":\"en\",\"area\":\"free\"},\"List\":[{\"Code\":\"12\",\"Content\":\"Brandenburg\",\"Variables\":\"9\",\"Information\":\"false\"}],\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/values?language=en&pagelength=1&selection=12%2A
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"values\"},\"Status\":{\"Code\":22,\"Content\":\"successfull
        (At least one parameter contains invalid values. It was changed to perform
        the service.: sortcriterion)\",\"Type\":\"Warnung\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"12*\",\"searchcriterion\":\"code\",\"sortcriterion\":\"code\",\"pagelength\":\"1\",\"language\":\"en\",\"area\":\"free\"},\"List\":[{\"Code\":\"12\",\"Content\":\"Brandenburg\",\"Variables\":\"9\",\"Information\":\"false\"}],\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
