interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/terms?language=en&pagelength=1&selection=Schu%2A
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"terms\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"Schu*\",\"pagelength\":\"1\",\"language\":\"en\",\"area\":\"all\"},\"List\":[{\"Content\":\"schu.m.obert.a.spinnst.m.laufs.a.holz\"}],\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
