interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/cubes2variable?area=all&language=en&name=KREISE&pagelength=20&selection=12%2A
  response:
    body:
      string: '{"Code":2,"Content":"An error has occured. (Your username or password
        is wrong.)","Type":"ERROR"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 404
      message: '404'
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/cubes2variable?area=all&language=en&name=KREISE&pagelength=20&selection=12%2A
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"cubes2variable\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"KREISE\",\"selection\":\"12*\",\"area\":\"all\",\"pagelength\":\"20\",\"language\":\"en\"},\"List\":[{\"Code\":\"12411KJ001\",\"Content\":\"Current
        updating of population figures, Population, Administrative districts, Age
        groups (under 3 - 75 years and over), Sex, Reference date\",\"State\":\"complete
        with values\",\"Time\":\"1995-12-31 to 2022-12-31\",\"LatestUpdate\":\"2023-06-29
        08:14:01h\",\"Information\":\"false\"},{\"Code\":\"12411KJ002\",\"Content\":\"Current
        updating of population figures, Population, Administrative districts, Reference
        date\",\"State\":\"complete with values\",\"Time\":\"1995-12-31 to 2022-12-31\",\"LatestUpdate\":\"2023-06-29
        08:14:08h\",\"Information\":\"false\"},{\"Code\":\"12521KJ001\",\"Content\":\"Statistics
        of foreigners, Foreigners, Administrative districts, Sex, Citizenship, Reference
        date\",\"State\":\"complete with values\",[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/cubes2variable?language=en&name=KREISE&pagelength=1&selection=12%2A
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"cubes2variable\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"KREISE\",\"selection\":\"12*\",\"area\":\"free\",\"pagelength\":\"1\",\"language\":\"en\"},\"List\":[{\"Code\":\"12411KJ001\",\"Content\":\"Current
        updating of population figures, Population, Administrative districts, Age
        groups (under 3 - 75 years and over), Sex, Reference date\",\"State\":\"complete
        with values\",\"Time\":\"1995-12-31 to 2022-12-31\",\"LatestUpdate\":\"2023-06-29
        08:14:01h\",\"Information\":\"false\"}],\"Copyright\":\"\xA9 Federal Statistical
        Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/cubes2variable?language=en&name=KREISE&pagelength=1&selection=12%2A
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"cubes2variable\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"KREISE\",\"selection\":\"12*\",\"area\":\"free\",\"pagelength\":\"1\",\"language\":\"en\"},\"List\":[{\"Code\":\"12411KJ001\",\"Content\":\"Current
        updating of population figures, Population, Administrative districts, Age
        groups (under 3 - 75 years and over), Sex, Reference date\",\"State\":\"complete
        with values\",\"Time\":\"1995-12-31 to 2022-12-31\",\"LatestUpdate\":\"2023-06-29
        08:14:01h\",\"Information\":\"false\"}],\"Copyright\":\"\xA9 Federal Statistical
        Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
