interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/qualitysigns?language=en
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"qualitysigns\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"language\":\"en\",\"username\":\"********************\",\"password\":\"********************\"},\"List\":[{\"Code\":\"0\",\"Content\":\"less
        than half of 1 in the last digit occupied, but more than zero\"},{\"Code\":\"-\",\"Content\":\"no
        figures or magnitude zero\"},{\"Code\":\"...\",\"Content\":\"data will be
        available later\"},{\"Code\":\"/\",\"Content\":\"no data because the numerical
        value is not sufficiently reliable\"},{\"Code\":\".\",\"Content\":\"numerical
        value unknown or not to be disclosed\"},{\"Code\":\"x\",\"Content\":\"cell
        blocked for logical reasons\"},{\"Code\":\"()\",\"Content\":\"limited informational
        value because the numerical value is of limited statistical reliability\"},{\"Code\":\"p\",\"Content\":\"provisional
        numerical value\"},{\"Code\":\"r\",\"Content\":\"corrected numerical value\"},{\"Code\":\"s\",\"Content\":\"estimated
        numerical value\"}],\"Copyright\":\"\xA9 Federal Statistical Office, Wiesbaden
        2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
