interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/variables?language=en&pagelength=1&selection=FA%2A
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"variables\"},\"Status\":{\"Code\":22,\"Content\":\"successfull
        (At least one parameter contains invalid values. It was changed to perform
        the service.: sortcriterion)\",\"Type\":\"Warnung\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"FA*\",\"area\":\"free\",\"searchcriterion\":\"code\",\"sortcriterion\":\"code\",\"type\":\"all\",\"pagelength\":\"1\",\"language\":\"en\"},\"List\":[{\"Code\":\"FAMAR1\",\"Content\":\"Type
        of family\",\"Type\":\"Subject\",\"Values\":\"3\",\"Information\":\"false\"}],\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
