interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/terms?area=all&language=en&name=KREISE&pagelength=20&selection=12%2A
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"terms\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"12*\",\"pagelength\":\"20\",\"language\":\"en\",\"area\":\"all\"},\"List\":[{\"Content\":\"12\"},{\"Content\":\"12
        - 15 children cared for\"},{\"Content\":\"12 months\"},{\"Content\":\"12 to
        less than 13 hours\"},{\"Content\":\"12 to under 14 years\"},{\"Content\":\"12
        to under 15 months\"},{\"Content\":\"12 to under 15 years\"},{\"Content\":\"12
        to under 24 months\"},{\"Content\":\"12 years\"},{\"Content\":\"12 years and
        over\"},{\"Content\":\"12,100\"},{\"Content\":\"12.600kwh\"},{\"Content\":\"120\"},{\"Content\":\"120
        or more sq m\"},{\"Content\":\"120114\"},{\"Content\":\"120116\"},{\"Content\":\"120120\"},{\"Content\":\"120cm\"},{\"Content\":\"120g\"},{\"Content\":\"120gm2\"}],\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/tables2variable?area=all&language=en&name=KREISE&pagelength=20&selection=12%2A
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"tables2variable\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"KREISE\",\"selection\":\"12*\",\"area\":\"all\",\"pagelength\":\"20\",\"language\":\"en\"},\"List\":[{\"Code\":\"12411-0015\",\"Content\":\"Population:
        Administrative districts, reference date\",\"Time\":\"1995-12-31 to 2022-12-31\"},{\"Code\":\"12411-0016\",\"Content\":\"Population:
        Administrative districts, reference date, sex\",\"Time\":\"1995-12-31 to 2022-12-31\"},{\"Code\":\"12411-0017\",\"Content\":\"Population:
        Administrative districts, reference date,\\nage groups\",\"Time\":\"1995-12-31
        to 2022-12-31\"},{\"Code\":\"12411-0018\",\"Content\":\"Population: Administrative
        districts, reference date, sex,\\nage groups\",\"Time\":\"1995-12-31 to 2022-12-31\"},{[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/tables2variable?language=en&name=KREISE&pagelength=1&selection=12%2A
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"tables2variable\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"KREISE\",\"selection\":\"12*\",\"area\":\"free\",\"pagelength\":\"1\",\"language\":\"en\"},\"List\":[{\"Code\":\"12411-0015\",\"Content\":\"Population:
        Administrative districts, reference date\",\"Time\":\"1995-12-31 to 2022-12-31\"}],\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/tables2variable?language=en&name=KREISE&pagelength=1&selection=12%2A
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"tables2variable\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"KREISE\",\"selection\":\"12*\",\"area\":\"free\",\"pagelength\":\"1\",\"language\":\"en\"},\"List\":[{\"Code\":\"12411-0015\",\"Content\":\"Population:
        Administrative districts, reference date\",\"Time\":\"1995-12-31 to 2022-12-31\"}],\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
