interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/tables2variable?language=en&name=KREISE&pagelength=1&selection=12%2A
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"tables2variable\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"KREISE\",\"selection\":\"12*\",\"area\":\"free\",\"pagelength\":\"1\",\"language\":\"en\"},\"List\":[{\"Code\":\"12411-0015\",\"Content\":\"Population:
        Administrative districts, reference date\",\"Time\":\"1995-12-31 to 2022-12-31\"}],\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
