interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/jobs?language=en&pagelength=20
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"jobs\"},\"Status\":{\"Code\":22,\"Content\":\"successfull
        (At least one parameter contains invalid values. It was changed to perform
        the service.: sortcriterion)\",\"Type\":\"Warnung\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"\",\"searchcriterion\":\"code\",\"sortcriterion\":\"type\",\"type\":\"all\",\"pagelength\":\"20\",\"language\":\"en\",\"area\":\"user\"},\"List\":[{\"Content\":\"value
        retrieval\",\"Date\":\"2023-08-26\",\"Time\":\"13:05:01\",\"State\":\"finished\",\"Code\":\"51000-0013_047950603\"},{\"Content\":\"value
        retrieval\",\"Date\":\"2023-08-26\",\"Time\":\"13:07:00\",\"State\":\"finished\",\"Code\":\"51000-0013_048064494\"},{\"Content\":\"value
        retrieval\",\"Date\":\"2023-08-26\",\"Time\":\"13:15:00\",\"State\":\"finished\",\"Code\":\"51000-0013_048530285\"},{\"Content\":\"value
        retrieval\",\"Date\":\"2023-08-26\",\"Time\":\"13:26:01\",\"State\":\"finished\",\"Code\":\"51000-0013_049184725\"},{\"Content\":\"va[...]
