interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/modifieddata?date=20.02.2020&language=en&type=all
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"modifieddata\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"\",\"type\":\"all\",\"date\":\"20.02.2020\",\"pagelength\":\"100\",\"language\":\"en\",\"area\":\"all\"},\"List\":[{\"Code\":\"22221\",\"Content\":\"Recipients
        of benefits for asylum seekers\",\"Type\":\"Updates\",\"Date\":\"2023-08-09\",\"Added\":\"2021-12-31\"},{\"Code\":\"24221\",\"Content\":\"Stat.
        on criminal proc. and administr. fine proc.\",\"Type\":\"Updates\",\"Date\":\"2023-08-09\",\"Added\":\"2022\"},{\"Code\":\"24231\",\"Content\":\"Statistics
        on civil matters\",\"Type\":\"Updates\",\"Date\":\"2023-08-09\",\"Added\":\"2022\"},{\"Code\":\"24271\",\"Content\":\"Social
        jurisdiction statistics\",\"Type\":\"Updates\",\"Date\":\"2023-08-09\",\"Added\":\"2022\"},{\"Code\":\"24281\",\"Content\":\"Labour
       [...]
[...]
