interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/timeseries?language=en&pagelength=1&selection=124%2A
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"timeseries\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"124*\",\"area\":\"free\",\"pagelength\":\"1\",\"language\":\"en\"},\"List\":[{\"Code\":\"12411BJ001\",\"Content\":\"Current
        updating of population figures, Population, Germany, Nationality, Sex, Marital
        status, Age years (under 1 - 85 and over), Reference date\",\"State\":\"undefined!\",\"Time\":\"1991-12-31
        to 2022-12-31\",\"LatestUpdate\":\"2023-06-20 08:00:30h\",\"Information\":\"false\"}],\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
