interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/tables?area=all&language=en&pagelength=20&selection=124%2A
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"tables\"},\"Status\":{\"Code\":22,\"Content\":\"successfull
        (At least one parameter contains invalid values. It was changed to perform
        the service.: searchcriterion, sortcriterion)\",\"Type\":\"Warnung\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"124*\",\"area\":\"all\",\"searchcriterion\":\"code\",\"sortcriterion\":\"code\",\"pagelength\":\"20\",\"language\":\"en\"},\"List\":[{\"Code\":\"12411-0001\",\"Content\":\"Population:
        Germany, reference date\",\"Time\":\"1950-12-31 to 2022-12-31\"},{\"Code\":\"12411-0002\",\"Content\":\"Population:
        Germany, reference date, nationality\",\"Time\":\"1970-12-31 to 2022-12-31\"},{\"Code\":\"12411-0003\",\"Content\":\"Population:
        Germany, reference date, sex\",\"Time\":\"1970-12-31 to 2022-12-31\"},{\"Code\":\"12411-0004\",\"Content\":\"Population:
        Germany, reference date, marital status\",\"Time\":\"1991-12-31 to 2022-12-31\"},{\"Code\":\"12411-0005\",\"Content\":\"Population:
        Germa[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/tables?area=all&language=en&pagelength=20&searchcriterion=code&selection=124%2A&sortcriterion=code
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"tables\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selecti[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/tables?language=en&pagelength=1&selection=124%2A
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"tables\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"124*\",\"area\":\"free\",\"searchcriterion\":\"code\",\"sortcriterion\":\"code\",\"pagelength\":\"1\",\"language\":\"en\"},\"List\":[{\"Code\":\"12411-0001\",\"Content\":\"Population:
        Germany, reference date\",\"Time\":\"1950-12-31 to 2022-12-31\"}],\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/tables?language=en&pagelength=1&selection=124%2A
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"tables\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"124*\",\"area\":\"free\",\"searchcriterion\":\"code\",\"sortcriterion\":\"code\",\"pagelength\":\"1\",\"language\":\"en\"},\"List\":[{\"Code\":\"12411-0001\",\"Content\":\"Population:
        Germany, reference date\",\"Time\":\"1950-12-31 to 2022-12-31\"}],\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
