interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/variables?area=all&language=en&pagelength=20&searchcriterion=code&selection=FA%2A&sortcriterion=code
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"variables\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"FA*\",\"area\":\"all\",\"searchcriterion\":\"code\",\"sortcriterion\":\"code\",\"type\":\"all\",\"pagelength\":\"20\",\"language\":\"en\"},\"List\":[{\"Code\":\"FAMAR1\",\"Content\":\"Type
        of family\",\"Type\":\"Subject\",\"Values\":\"3\",\"Information\":\"false\"},{\"Code\":\"FAMEL1\",\"Content\":\"Marital
        status of the parents\",\"Type\":\"Subject\",\"Values\":\"2\",\"Information\":\"false\"},{\"Code\":\"FAMEL2\",\"Content\":\"Marital
        status of the relinquishing parent(s)\",\"Type\":\"Subject\",\"Values\":\"8\",\"Information\":\"true\"},{\"Code\":\"FAMEL3\",\"Content\":\"Marital
        status of the relinquishing parent(s)\",\"Type\":\"Subject\",\"Values\":\"5\",\"Information\":\"true\"},{\"Code\":\"FAMFM1\",\"Content\":\"Fami[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/variables?language=en&pagelength=1&selection=FA%2A
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"variables\"},\"Status\":{\"Code\":22,\"Content\":\"successfull
        (At least one parameter contains invalid values. It was changed to perform
        the service.: sortcriterion)\",\"Type\":\"Warnung\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"FA*\",\"area\":\"free\",\"searchcriterion\":\"code\",\"sortcriterion\":\"code\",\"type\":\"all\",\"pagelength\":\"1\",\"language\":\"en\"},\"List\":[{\"Code\":\"FAMAR1\",\"Content\":\"Type
        of family\",\"Type\":\"Subject\",\"Values\":\"3\",\"Information\":\"false\"}],\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/variables?language=en&pagelength=1&selection=FA%2A
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"variables\"},\"Status\":{\"Code\":22,\"Content\":\"successfull
        (At least one parameter contains invalid values. It was changed to perform
        the service.: sortcriterion)\",\"Type\":\"Warnung\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"FA*\",\"area\":\"free\",\"searchcriterion\":\"code\",\"sortcriterion\":\"code\",\"type\":\"all\",\"pagelength\":\"1\",\"language\":\"en\"},\"List\":[{\"Code\":\"FAMAR1\",\"Content\":\"Type
        of family\",\"Type\":\"Subject\",\"Values\":\"3\",\"Information\":\"false\"}],\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
