interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/values2variable?area=all&language=en&name=KREISE&searchcriterion=code&selection=12%2A&sortcriterion=code
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"values2variable\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"KREISE\",\"selection\":\"12*\",\"area\":\"all\",\"searchcriterion\":\"code\",\"sortcriterion\":\"code\",\"pagelength\":\"100\",\"language\":\"en\"},\"List\":[{\"Code\":\"12051\",\"Content\":\"Brandenburg
        an der Havel, kreisfreie Stadt\",\"Variables\":\"1\",\"Information\":\"false\"},{\"Code\":\"12052\",\"Content\":\"Cottbus,
        kreisfreie Stadt\",\"Variables\":\"1\",\"Information\":\"false\"},{\"Code\":\"12053\",\"Content\":\"Frankfurt
        (Oder), kreisfreie Stadt\",\"Variables\":\"1\",\"Information\":\"false\"},{\"Code\":\"12054\",\"Content\":\"Potsdam,
        kreisfreie Stadt\",\"Variables\":\"1\",\"Information\":\"false\"},{\"Code\":\"12060\",\"Content\":\"Barnim,
        Landkreis\",\"Variables\":\"1\",\"Information\":\"false\"},{\"Code\":\"12061\",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/values2variable?language=en&name=KREISE&pagelength=1&selection=12%2A
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"values2variable\"},\"Status\":{\"Code\":22,\"Content\":\"successfull
        (At least one parameter contains invalid values. It was changed to perform
        the service.: sortcriterion)\",\"Type\":\"Warnung\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"KREISE\",\"selection\":\"12*\",\"area\":\"free\",\"searchcriterion\":\"code\",\"sortcriterion\":\"code\",\"pagelength\":\"1\",\"language\":\"en\"},\"List\":[{\"Code\":\"12051\",\"Content\":\"Brandenburg
        an der Havel, kreisfreie Stadt\",\"Variables\":\"1\",\"Information\":\"false\"}],\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/values2variable?language=en&name=KREISE&pagelength=1&selection=12%2A
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"values2variable\"},\"Status\":{\"Code\":22,\"Content\":\"successfull
        (At least one parameter contains invalid values. It was changed to perform
        the service.: sortcriterion)\",\"Type\":\"Warnung\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"KREISE\",\"selection\":\"12*\",\"area\":\"free\",\"searchcriterion\":\"code\",\"sortcriterion\":\"code\",\"pagelength\":\"1\",\"language\":\"en\"},\"List\":[{\"Code\":\"12051\",\"Content\":\"Brandenburg
        an der Havel, kreisfreie Stadt\",\"Variables\":\"1\",\"Information\":\"false\"}],\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
