interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/statistics?language=en&pagelength=20&searchcriterion=code&selection=124%2A&sortcriterion=code
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"statistics\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"124*\",\"searchcriterion\":\"code\",\"sortcriterion\":\"code\",\"pagelength\":\"20\",\"language\":\"en\",\"area\":\"all\"},\"List\":[{\"Code\":\"12411\",\"Content\":\"Current
        updating of population figures\",\"Cubes\":\"28\",\"Information\":\"false\"},{\"Code\":\"12421\",\"Content\":\"Population
        projections\",\"Cubes\":\"16\",\"Information\":\"false\"}],\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/statistics?language=en&pagelength=1&selection=124%2A
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"statistics\"},\"Status\":{\"Code\":22,\"Content\":\"successfull
        (At least one parameter contains invalid values. It was changed to perform
        the service.: sortcriterion)\",\"Type\":\"Warnung\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"124*\",\"searchcriterion\":\"code\",\"sortcriterion\":\"code\",\"pagelength\":\"1\",\"language\":\"en\",\"area\":\"all\"},\"List\":[{\"Code\":\"12411\",\"Content\":\"Current
        updating of population figures\",\"Cubes\":\"28\",\"Information\":\"false\"}],\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/statistics?language=en&pagelength=1&selection=124%2A
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"statistics\"},\"Status\":{\"Code\":22,\"Content\":\"successfull
        (At least one parameter contains invalid values. It was changed to perform
        the service.: sortcriterion)\",\"Type\":\"Warnung\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"124*\",\"searchcriterion\":\"code\",\"sortcriterion\":\"code\",\"pagelength\":\"1\",\"language\":\"en\",\"area\":\"all\"},\"List\":[{\"Code\":\"12411\",\"Content\":\"Current
        updating of population figures\",\"Cubes\":\"28\",\"Information\":\"false\"}],\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
