interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/results?area=all&language=en&pagelength=20
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"results\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"\",\"area\":\"all\",\"pagelength\":\"20\",\"language\":\"en\"},\"List\":[{\"Code\":\"$FullCache-11111-0001-DLAND\",\"Content\":\"Size
        of territory: L\xE4nder, reference date\",\"Values\":\"459\"},{\"Code\":\"$FullCache-11111-0002-KREISE\",\"Content\":\"Size
        of territory: Administrative districts, reference date\",\"Values\":\"12852\"},{\"Code\":\"$FullCache-12211-0001\",\"Content\":\"Population,
        persons in employment, unemployed persons, econ.\\nactive population, econ.
        inactive population from primary\\nresidence households: Germany, years, sex,
        age groups\",\"Values\":\"675\"},{\"Code\":\"$FullCache-12211-0002\",\"Content\":\"Population,
       [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/results?area=all&language=en&pagelength=1
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"results\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"\",\"area\":\"all\",\"pagelength\":\"1\",\"language\":\"en\"},\"List\":[{\"Code\":\"$FullCache-11111-0001-DLAND\",\"Content\":\"Size
        of territory: L\xE4nder, reference date\",\"Values\":\"459\"}],\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/results?area=all&language=en&pagelength=1
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"results\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"\",\"area\":\"all\",\"pagelength\":\"1\",\"language\":\"en\"},\"List\":[{\"Code\":\"$FullCache-11111-0001-DLAND\",\"Content\":\"Size
        of territory: L\xE4nder, reference date\",\"Values\":\"459\"}],\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
