interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/variables2statistic?area=all&language=en&pagelength=20&searchcriterion=code&selection=124%2A&sortcriterion=code
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"variables2statistic\"},\"Status\":{\"Code\":104,\"Content\":\"There
        are no objects matching your selection.\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"\",\"selection\":\"124*\",\"area\":\"all\",\"searchcriterion\":\"code\",\"sortcriterion\":\"code\",\"type\":\"all\",\"pagelength\":\"20\",\"language\":\"en\"},\"List\":null,\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/variables2statistic?area=Alle&language=en&name=12411&pagelength=20&searchcriterion=code&selection=A%2A&sortcriterion=code
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"variables2statistic\"},\"Status\":{\"Code\":0,\"Content\":\"successfull\",\"Type\":\"information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"12411\",\"selection\":\"A*\",\"area\":\"all\",\"searchcriterion\":\"code\",\"sortcriterion\":\"code\",\"type\":\"all\",\"pagelength\":\"20\",\"language\":\"en\"},\"List\":[{\"Code\":\"ALT013\",\"Content\":\"Age
        years (under 1 - 85 and over)\",\"Type\":\"Subject\",\"Values\":\"-1\",\"Information\":\"false\"},{\"Code\":\"ALT031\",\"Content\":\"Age
        groups (under 3 - 65 years and over)\",\"Type\":\"Subject\",\"Values\":\"-1\",\"Information\":\"false\"},{\"Code\":\"ALT103\",\"Content\":\"Age
        years (under 1 - 90 and over)\",\"Type\":\"Subject\",\"Values\":\"-1\",\"Information\":\"false\"},{\"Code\":\"ALTX20\",\"Content\":\"Age
        groups (under 3 - 75 years and over)\",\"Type\":\"Subject\",\"Values\":\"-1\",\"Information\":\"false\"}],\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/variables2statistic?language=en&name=12411&pagelength=1
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"variables2statistic\"},\"Status\":{\"Code\":22,\"Content\":\"successfull
        (At least one parameter contains invalid values. It was changed to perform
        the service.: sortcriterion)\",\"Type\":\"Warnung\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"12411\",\"selection\":\"\",\"area\":\"free\",\"searchcriterion\":\"code\",\"sortcriterion\":\"code\",\"type\":\"all\",\"pagelength\":\"1\",\"language\":\"en\"},\"List\":[{\"Code\":\"ALT013\",\"Content\":\"Age
        years (under 1 - 85 and over)\",\"Type\":\"Subject\",\"Values\":\"-1\",\"Information\":\"false\"}],\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/variables2statistic?language=en&name=12411&pagelength=1
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"variables2statistic\"},\"Status\":{\"Code\":22,\"Content\":\"successfull
        (At least one parameter contains invalid values. It was changed to perform
        the service.: sortcriterion)\",\"Type\":\"Warnung\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"name\":\"12411\",\"selection\":\"\",\"area\":\"free\",\"searchcriterion\":\"code\",\"sortcriterion\":\"code\",\"type\":\"all\",\"pagelength\":\"1\",\"language\":\"en\"},\"List\":[{\"Code\":\"ALT013\",\"Content\":\"Age
        years (under 1 - 85 and over)\",\"Type\":\"Subject\",\"Values\":\"-1\",\"Information\":\"false\"}],\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
version: 1
