interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/jobs?area=all&language=en&pagelength=20&searchcriterion=code&sortcriterion=code&type=all
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"jobs\"},\"Status\":{\"Code\":104,\"Content\":\"There
        are no objects matching your selection.\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"\",\"searchcriterion\":\"code\",\"sortcriterion\":\"code\",\"type\":\"all\",\"pagelength\":\"20\",\"language\":\"en\",\"area\":\"user\"},\"List\":null,\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/jobs?language=en&pagelength=20&searchcriterion=code&sortcriterion=code&type=all
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"jobs\"},\"Status\":{\"Code\":104,\"Content\":\"There
        are no objects matching your selection.\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"\",\"searchcriterion\":\"code\",\"sortcriterion\":\"code\",\"type\":\"all\",\"pagelength\":\"20\",\"language\":\"en\",\"area\":\"user\"},\"List\":null,\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/jobs?area=all&language=en&pagelength=20&type=all
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"jobs\"},\"Status\":{\"Code\":104,\"Content\":\"There
        are no objects matching your selection. (At least one parameter contains invalid
        values. It was changed to perform the service.: searchcriterion, sortcriterion)\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"\",\"searchcriterion\":\"type\",\"sortcriterion\":\"type\",\"type\":\"all\",\"pagelength\":\"20\",\"language\":\"en\",\"area\":\"user\"},\"List\":null,\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/jobs?area=user&language=en&pagelength=20&type=all
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"jobs\"},\"Status\":{\"Code\":104,\"Content\":\"There
        are no objects matching your selection. (At least one parameter contains invalid
        values. It was changed to perform the service.: searchcriterion, sortcriterion)\",\"Type\":\"Information\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"\",\"searchcriterion\":\"type\",\"sortcriterion\":\"type\",\"type\":\"all\",\"pagelength\":\"20\",\"language\":\"en\",\"area\":\"user\"},\"List\":null,\"Copyright\":\"\xA9
        Federal Statistical Office, Wiesbaden 2023\"}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: '200'
- request:
    body: null
    headers:
    method: GET
    uri: https://www-genesis.destatis.de/genesisWS/rest/2020/catalogue/jobs?language=en&pagelength=20
  response:
    body:
      string: "{\"Ident\":{\"Service\":\"catalogue\",\"Method\":\"jobs\"},\"Status\":{\"Code\":22,\"Content\":\"successfull
        (At least one parameter contains invalid values. It was changed to perform
        the service.: sortcriterion)\",\"Type\":\"Warnung\"},\"Parameter\":{\"username\":\"********************\",\"password\":\"********************\",\"selection\":\"\",\"searchcriterion\":\"code\",\"sortcriterion\":\"type\",\"type\":\"all\",\"pagelength\":\"20\",\"language\":\"en\",\"area\":\"user\"},\"List\":[{\"Content\":\"value
        retrieval\",\"Date\":\"2023-08-15\",\"Time\":\"17:38:00\",\"State\":\"finished\",\"Code\":\"51000-0013_113894183\"},{\"Content\":\"value
        retrieval\",\"Date\":\"2023-08-15\",\"Time\":\"20:51:00\",\"State\":\"finished\",\"Code\":\"51000-0013_125499451\"},{\"Content\":\"value
        retrieval\",\"Date\":\"2023-08-15\",\"Time\":\"21:02:01\",\"State\":\"finished\",\"Code\":\"51000-0013_126149737\"},{\"Content\":\"value
        retrieval\",\"Date\":\"2023-08-15\",\"Time\":\"21:09:00\",\"State\":\"finished\",\"Code\":\"51000-0013_126549093\"},{\"Content\":\"va[...]
[...]
